body {
    margin: 0;
    font-family: Bebas Neue, sans-serif;
    background: #f5f5f5;
    color: #333;
}

header, footer {
    padding: 10px 20px;
    background: #222;
    color: #fff;
}

main {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

header {
    background: #222;
    color: #fff;
    padding: 15px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.3s;
}
header a:hover {
    background-color: #b02a37;
}